In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('salary.csv')

data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
data.shape

(30, 2)

In [4]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [5]:
data.isnull().any()

YearsExperience    False
Salary             False
dtype: bool

In [6]:
#### y = mx+c, calculating m and c####

x = data[['YearsExperience']].values
y = data['Salary'].values

x_mean = np.mean(x)
y_mean = np.mean(y)


# total no.of input values
m = len(x)

# using the formula to calculate m & c
numer = 0
denom = 0
for i in range(m):
    numer += (x[i] - x_mean) * (y[i] - y_mean)
    denom += (x[i] - x_mean) ** 2
m = numer / denom
c = y_mean - (m * x_mean)

print (f'm = {m} \nc = {c}')

m = [9449.96232146]
c = [25792.20019867]

In [7]:
# calculating R-squared value for measuring goodness of our model. 

ss_t = 0 #total sum of squares
ss_r = 0 #total sum of square of residuals

for i in range(int(30)):
    y_pred = c + m * x[i]
    ss_t += (y[i] - y_mean) ** 2
    ss_r += (y[i] - y_pred) ** 2
r2 = 1 - (ss_r/ss_t)

print(r2)

[0.95695666]

In [8]:
#### Predicting Y based on Trained data

print("enter input, years of experience:")
years=float(input())
salary=m*years+c
print("Salary expected=",salary)

enter input, years of experience:
2
Salary expected= [44692.12484158]