## Ans of question : 1

In [8]:
import numpy as np

z = float(input())

ztanh = float((np.exp(z) - np.exp(-z)) / (np.exp(z) + np.exp(-z)))

print(ztanh)

0.5
0.4621171572600098

## Ans of question : 2

In [2]:
import pandas as pd
import numpy as np
import random


A = []
for i in range(0,100) :
    n = random.uniform(0,1)
    A.append(n)
    
B = []
for i in range(0,100) :
    n = random.uniform(0,1)
    B.append(n)
    
C = []
for i in range(0,100) :
    n = random.uniform(0,1)
    C.append(n)
    
D = []
for i in range(0,100) :
    n = random.uniform(0,1)
    D.append(n)
    
T = []
for i in range(0,100) :
    for i in range(0,100):
        if(A[i] + B[i] + C[i] + D[i] >= 0.5) :
            n = 1
        else:
            n = 0
    T.append(n)    


def generatedData() :
    data = pd.DataFrame({"A":A, "B":B, "C":C, "D":D, "T":T})
    print(data)

if __name__ == "__main__" :
    generatedData()

           A         B         C         D  T
0   0.756602  0.924265  0.987785  0.657920  1
1   0.553262  0.477796  0.458844  0.623692  1
2   0.246218  0.921628  0.683706  0.687701  1
3   0.563672  0.808503  0.432446  0.521042  1
4   0.691486  0.045064  0.382137  0.427900  1
..       ...       ...       ...       ... ..
95  0.918457  0.887174  0.439876  0.902548  1
96  0.409660  0.111767  0.752705  0.187937  1
97  0.066824  0.108067  0.657932  0.818301  1
98  0.233576  0.016879  0.340890  0.650482  1
99  0.587028  0.358359  0.485863  0.401839  1

[100 rows x 5 columns]

## Ans of question 3

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split


data = pd.read_csv(r'caesarian.csv', header=None, skiprows=17)

framedData = pd.DataFrame(data)

X_train, X_test, Y_train, Y_test = train_test_split(framedData.drop(5, axis = 1), framedData[5], test_size = 0.2, random_state = 22)

framedData

     0  1  2  3  4  5
0   22  1  0  2  0  0
1   26  2  0  1  0  1
2   26  2  1  1  0  0
3   28  1  0  2  0  0
4   22  2  0  1  0  1
..  .. .. .. .. .. ..
75  27  2  1  1  0  0
76  33  4  0  1  0  1
77  29  2  1  2  0  1
78  25  1  2  0  0  1
79  24  2  2  1  0  0

[80 rows x 6 columns]